<!-- Footer -->
<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Everything I.T. LLC</strong>
        </h4>
        <address>PO Box 1496<br>Keller TX 76244</address>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (817) 203-4321</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:support@everything-it.biz">support@everything-it.biz</a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Everything I.T. LLC</p>
      </div>
    </div>
  </div>
</footer>
