<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Everything I.T. LLC</h1>
    <h3>A full service information technology company for small businesses</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
