---
title: Welcome to Everything I.T. LLC
---

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Everything I.T. LLC is a full service information technology company that understands small businesses</h2>
        <p class="lead">We can provide services such as website maintenance, design, computer setup, server maintenance, and much more.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "design.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Websites</strong>
              </h4>
              <p>
                From website design, hosting and maintenance, we can provide the services you need to have a top notch presence on the web
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "server.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Server and Computer Support</strong>
              </h4>
              <p>
                Whether your office uses Mac or PC, we can provide support for your computers and servers.
                From setup, account maintenance, small office domains or networks, we can get you up and running quickly
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "development.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Software Development and Support</strong>
              </h4>
              <p>
                We are experienced developers; from iOS and Android to .Net to the Web, we are able to help you design, implement, and market your idea.
                We provide on-demand support and development of existing applications, in-house portals, and business intelligence software
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">

              <%= image_tag "training.jpg", width: "160", height: "107" %>

              <h4>
                <strong>Training and Knowledge Transfer</strong>
              </h4>
              <p>
                We provide individual and small group training classes on all popular office and productivity software packages
              </p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
